$brand-color: #FF6600;
$Primary: #0062FF;
$Secondary: #6C757D;
$Success: #3DD598;
$Warning: #FFC542;
$Error: #FC5A5A;
$orange: #FF974A;
$light-blue1: #50B5FF;
$light-blue2: #E6ECF0;
$green: #82C43C;
$purple: #A461D8;
$pink: #FF9AD5;
$white: #FFFFFF;
$black: #171725;
$darkgray: #44444F;
$gray1: #696974;
$gray2: #92929D;
$gray3: #B5B5BE;
$gray4: #6C757D;
$gray-white1: #D5D5DC;
$gray-white2: #E2E2EA;
$gray-white3: #F1F1F5;
$near-white: #FAFAFB;
$card-background-color: #F6F7F8;